@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Epilogue", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
  }

  html.dark body {
    background-color: rgb(31 41 55);
  }

  :is(a, button, input, textarea, select, details, summary):focus-visible {
    outline: #696969 solid 0.188rem;
    outline-offset: 0.188rem;
  }

  html.dark :is(a, button, input, textarea, select, details, summary):focus-visible {
    outline-color: #fff;
  }
}


@layer components {
  .transition-visible {
    transition: visibility 0.3s linear, opacity 0.3s linear;
  }

  .transition-visibility {
    --transition: 200ms ease-in-out;
    transition: transform var(--transition), visibility var(--transition), opacity var(--transition), background-color var(--transition);
  }

  body header::after {
    --transition: 200ms ease-in-out;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition-delay: 220ms;
    transition: background-color var(--transition);
    z-index: 2;
  }

  @media screen and (max-width: 1023px) {
    body.lock-scroll header::after {
      transform: translateX(0);
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  body.lock-scroll {
    overflow: hidden;
    height: 100vh;
  }


  .dot {
    position: relative;
    width: 47px;
    height: 25px;
    background-color: #A8AAC1;
    border-radius: 15px;
    display: block;
  }

  .dot::before {
    content: "";
    position: absolute;
    left: 2px;
    bottom: 2px;
    width: 21px;
    height: 21px;
    background: #fff;
    border-radius: 15px;
    transition: all 0.3s ease;
  }

  input[type="checkbox"]:checked+.dot::before {
    transform: translateX(22px);
    background: white;
  }

  input[type="checkbox"]:checked+.dot {
    background: linear-gradient(45deg, #726CEE, #4BB1DA);
  }

  .icon-todo::before {
    content: url("./assets/images/icon-todo.svg");
    display: inline-block;
  }

  .icon-calendar::before {
    content: url("./assets/images/icon-calendar.svg");
    display: inline-block;
  }

  .icon-reminder::before {
    content: url("./assets/images/icon-reminders.svg");
    display: inline-block;
  }

  .icon-planning::before {
    content: url("./assets/images/icon-planning.svg");
    display: inline-block;
  }

  .icon-menu::after {
    content: url("./assets/images/icon-arrow-down.svg");
    display: inline-block;
    transition: all 220ms linear;
  }

  html.dark .icon-menu::after {
    filter: invert(1) brightness(6) hue-rotate(180deg);
  }

  .icon-menu[aria-expanded="true"]::after {
    transform: rotate(180deg);
  }

  .width-fill-available {
    width: -webkit-fill-available;
  }

  .filter-logo-white {
    filter: invert(1) brightness(6) hue-rotate(180deg);
  }

  .transition-filter {
    transition: filter 220ms linear;
    -webkit-transition: -webkit-filter 220ms linear;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-track {
    background-color: theme('colors.almost-white');
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme('colors.medium-gray');
    border-radius: 1.25rem;
    border: 0.1875rem solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.almost-black');
  }

  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      -webkit-animation-duration: 0.01ms !important;
      animation-duration: 0.01ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
      -webkit-transition-duration: 0.01ms !important;
      -o-transition-duration: 0.01ms !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}